<h1> <center>  Welcome to TripPlanner </center></h1>


<p align="center"><i> Use this web application to create trips and add placaes. </i> </p>

<p align="center">Please select one of the following: </p> 



<div style="float:left;">
	<center> <strong> <%= button_to "New Trip", new_trip_path, :class => "button", :method => :get %> </strong> </center> 
</div>

<div style="float:left;">
	<center> <strong> <%= button_to "Current Trips", trips_path, :class => "button", :method => :get %> </strong> </center> 
</div>


 