<h1>Listing Points of Interest for Trip to </h1>
 
<table>
  <tr>
    <th>Point of Interest </th>
    <th>Address </th> 
  </tr>
 
  <% @pois.each do |poi| %>
    <tr>
      <td><%= poi.name	 %></td>
      <td><%= poi.address %></td>      
     
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>
